/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #3d2a5c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.eth_logo {
  transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin  5s ease;
}

@keyframes App-logo-spin {
  0%, 100% {
    transform:  rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}

.eth_logo_gold {
  transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-glow infinite 5s ease-in-out;
}

@keyframes App-logo-glow {
  0%, 100% {
    filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0)); /* Adjust color and opacity */
    transform: scale(1);
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(255, 255, 0, 0.8)); /* Brighter and more prominent */
    transform: scale(1.1);
  }
}


/* Main page content */
main {
  padding: 20px;
}

/* Button Styles */
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
}

/* Input Field Styles */
/* Flex container for partner input fields */
.flex {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0; /* Light grey background */
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.Input-address {
  width: 44ch;
  padding: 8px 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: monospace;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Input-address.error {
  border: 2px solid red; /* Highlight the border */
}

.Error-message {
  color: red;
  font-size: 0.9em;
  visibility: visible; /* No need for :not(:empty) anymore */
  animation: fadeInError 0.3s ease-out;
}

@keyframes fadeInError {
  from { opacity: 0; }
  to { opacity: 1; }
}


.input {
  padding: 8px;
  margin: 0 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
}

.list_box {
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 5px;
  margin: 20px;
}

.list_element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 18px;
  margin-bottom: 10px;
  background-color: white;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  min-width: 100px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.list_element:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

/* Specific styling for split inputs to make it narrower and align text */
input[type="number"] {
  max-width: 120px; /* Adjust width of split input */
  text-align: center;
}

/* Adjustments to handle errors */
p {
  min-height: 22px;  /* Ensures that space is reserved even if there's no visible text */
  color: red;
  margin-top: 4px;
  visibility: hidden;  /* Initially hidden */
  font-size: 0.8em;
}

/* Show error message when there is content */
p:not(:empty) {
  visibility: visible;
}
